<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= product.name %>
    </title>
</head>

<body>
    <h1>
        <%= product.name %>
    </h1>
    <ul>
        <li>Price: <%= product.price%>
        </li>
        <li>Price: $ <%= product.price%>
        </li>
        <li>Category: <%= product.category%>
        </li>
        <li>Quantity: <%= product.quantity%>
        </li>
        <li>Product description: <%= product.description%>
        </li>


    </ul>
    <a href="/products/">go back to all products</a>
    <a href="/products/<%= product._id%>/edit">Edit this product</a>
    <form action="/products/<%= product._id%>?_method=Delete" method="post">
        <button>Delete product</button>
    </form>
</body>

</html>